* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: lightgoldenrodyellow;
    color: #222;
    font-family: 'Roboto', sans-serif;

}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator {
    width: 400px;
    border: 2px black solid;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(22, 22, 22);
}

.screen {
    padding: 10px 20px;
    border: 2px #333 solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #eee;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.screen-last {
    min-height: 32px;
    font-size: 20px;
}

.screen-current {
    min-height: 64px;
    font-size: 40px;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.span-2 {
    grid-column: span 2;
}

.btn {
    padding: 20px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: #eee;
    font-size: 20px;
}

.btn:hover {
    background-color: #ddd;
    ;
}

.btn:active {
    background-color: #ccc;
}

.btn-red {
    background-color: #faa;
}

.btn-red:hover {
    background-color: #e99;
}

.btn-red:active {
    background-color: #d88;
}

.btn-blue {
    background-color: #aaf;
}

.btn-blue:hover {
    background-color: #99e;
}

.btn-blue:active {
    background-color: #88d;
}

.btn-operator {
    background-color: rgb(221, 169, 73)
}

.btn-operator:hover {
    background-color: rgb(221, 160, 47)
}

.btn-operator:active {
    background-color: rgb(219, 153, 29)
}